:root {
  --off-white-one: rgb(250, 250, 250);
  --off-white-two: rgb(247, 247, 247);
  --hover-light: rgb(238, 238, 238);
  --hover-dark: rgb(222, 222, 222);
  --highlight: rgb(221, 75, 57);
  --highlight-hover: rgba(221, 75, 57, 0.8);
  --text-color: rgb(32, 32, 32);
  --shape: 5px
}

body {
  background: #e4e4e4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background: rgb(241, 241, 241);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: min-content 1fr min-content;
  gap: 1px;
  transition: 0.5s ease ;
}

.container.closed-sidebar {
  grid-template-columns: 0 100%;
}

main, aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

header {
  grid-column: 1 / 3;
  background-color: var(--off-white-two);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(255, 255, 255);
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: var(--off-white-one);
}

footer {
  grid-column: 1 / 3;
  background-color: var(--off-white-two);
  padding: 9.5px 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  background-color: var(--hover-dark);
  border-radius: var(--shape)
}

li:hover {
  background-color: var(--hover-light);
}

#aside-title, #main-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 1rem 0;
  font-size: 1.5rem;
}

#projects, #todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 90%;
  height: 90%;
  margin: 1rem;
}

#add-project-button, #add-todo-button {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

#add-project-button:hover, #add-todo-button:hover {
  background-color: unset;
  color: var(--highlight)
}

#add-project-button .material-icons-round::before, #add-todo-button .material-icons-round::before {
  color: var(--highlight);
  content: "add";
}

#add-project-button:hover .material-icons-round::before, #add-todo-button:hover .material-icons-round::before {
  content: "add_circle";
}

.project, .todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: var(--shape);
  align-items: center;
}

.project-title {
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project > *, .todo > * {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.project-button-section {
  padding: 5px;
}

.project-selector {
  background-color: unset;
  font-size: 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 50%;
}

.project-selector:hover {
  background-color: unset;
}

.project-button-section > .material-icons-round {
  font-size: 1rem;
  padding: 5px;
}

.project-selector:nth-child(2) {
  padding-left: 5px;
}

.project-colour {
  font-size: 1.7rem;
}

.todo {
  background-color: var(--off-white-two);
  padding: 15px;
  margin-bottom: 0.7rem;
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.done {
  padding: 10px;
  margin-right: auto;
}

.done label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  left: 0;
  position: relative;
  top: 50;
  width: 18px;
}

.done label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 8px;
}

.done input[type="checkbox"] {
  visibility: hidden;
  position: relative;
  z-index: 1;
}

.done input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.done input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.priority-1 {
  box-shadow: 0 0 5px red;
}

.priority-2 {
  box-shadow: 0 0 5px rgb(255, 187, 0);
}

.priority-3 {
  box-shadow: 0 0 5px blue;
}

.priority-4 {
  box-shadow: none
}

.todo-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.todo-content > * {
  margin: 5px;
}

.todo-title {
  font-size: 1.1rem
}

.todo-description {
  font-size: 0.8rem;
}


.todo-dueDate {
  font-size: 0.8rem;
}

.todo-button-section {
  margin-right: 8px;
}

dialog {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  width: 40%;
  height: 30%;
  background: var(--off-white-two);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--shape);
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  width: 85%;
}

form :last-child {
  display: flex;
  justify-content: end;
  gap: 10px;
}

form :last-child > button {
  padding: 10px 20px;
  background-color: var(--hover-dark);
  border-radius: var(--shape)
}

form :last-child > button:hover {
  background-color: var(--hover-light);
}

form :last-child > :last-child {
  background-color: var(--highlight);
}

form :last-child > :last-child:hover {
  background-color: var(--highlight-hover) ;
}

dialog input,
dialog select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;
}


.modal-header {
  align-items: center;
  padding: 2rem;
  width: 100%; 
  box-sizing: border-box;
}

.modal-header > h3 {
  text-align: center; 
}

.success-popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.5rem;
  padding: 15px 20px;
  background-color: var(--off-white-one);
  text-align: center;
}

.success-popup > div:first-child {
  position: absolute;
  top: 10px;
  right: 10px;
}

.success-popup > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
