body {
  background: #e4e4e4;
  height: 100vh;
  font: 500 100% system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
  grid-template-rows: min-content 1fr min-content;
  gap: 1px;
}

.container > * {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

header {
  grid-column: 1 / -1;
  background-color: royalblue;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: start;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: green;
}

#aside-title, #main-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 1rem 0;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: green;
}

footer {
  grid-column: 1 / -1;
  background-color: rebeccapurple;
}

#projects, #todos {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 90%;
  margin: 1rem;
}

.project, .todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project {
  padding: 0.4rem 0;
}

.project > * {
  display: flex;
  justify-content: space-around;
}

.project > :first-child > :nth-child(2){
  padding-left: 5px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal > form {
  position: relative;
  margin: 0 auto;
  top: 30%;
  width: 40%;
  height: 30%;
  background: grey;
}

form > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

