body {
    background: #e4e4e4;
    height: 100vh;
    font: 500 100% system-ui, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container {
    background: white;
    height: calc(100vh - 10px);
    width: calc(100vw - 10px);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 1px;
}

.container > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

header {
    grid-column: 1 / -1;
    background-color: red;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: start;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#add-todo-button {
}

aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: plum;
}

footer {
    grid-column: 1 / -1;
    background-color: darkkhaki;
}

